<!-- wp:paragraph /-->

<h2>waifu medals</h2>

	<h3>akame ga kill</h3>
		<div class="wlfy-badge-container">
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/akame-ga-kill/esdeath-white.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/79147286">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/akame-ga-kill/esdeath-white.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/akame-ga-kill/akame-kimono_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.zerochan.net/1746005">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/akame-ga-kill/akame-kimono_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/akame-ga-kill/chelsea-red_orange.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/61042931">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/akame-ga-kill/chelsea-red_orange.png"/>
			</a>
		</div>


	<h3>baccano!</h3>
		<div class="wlfy-badge-container">
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/baccano/chane-black_skintone-fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/76000876">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/baccano/chane-black_skintone-fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/baccano/chane-manga_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/72488231">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/baccano/chane-manga_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/baccano/chane-white_skintone-fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/70093078">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/baccano/chane-white_skintone-fixed.png"/>
			</a>
		</div>

	<h3>evangelion</h3>
		<div class="wlfy-badge-container">
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/evangelion/rei-blue_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/85633466">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/evangelion/rei-blue_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/evangelion/rei-ruines_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.zerochan.net/149597">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/evangelion/rei-ruines_fixed.png"/>
			</a>
		</div>

	<h3>jujutsu kaisen</h3>
		<div class="wlfy-badge-container">
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/jujutsu-kaisen/satoru-mask.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/users/6742672/artworks">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/jujutsu-kaisen/satoru-mask.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/jujutsu-kaisen/satoru-manga.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="Taken from the manga.">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/jujutsu-kaisen/satoru-manga.png"/>
			</a>
		</div>

	<h3>kaguya-sama: love is war</h3>
		<div class="wlfy-badge-container">
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/chika_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/81879849">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/chika_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/kaguya-laying_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/81879849">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/kaguya-laying_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/kaguya-window_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/81879849">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/kaguya-window_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/ai-back.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://twitter.com/jeonghee1414/status/1250978451718193152/photo/1">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/ai-back.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/ai-dof.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/84167683">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/ai-dof.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/ai-pull_dark.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/86142150">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kaguya-sama/ai-pull_dark.png"/>
			</a>
		</div>

	<h3>konosuba</h3>
		<div class="wlfy-badge-container">
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/konosuba/aqua_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/55537000">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/konosuba/aqua_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/konosuba/megumin-stick_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/85007659">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/konosuba/megumin-stick_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/konosuba/megumin-sitting_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/54870332">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/konosuba/megumin-sitting_fixed.png"/>
			</a>
		</div>

	<h3>monogatari</h3>
		<div class="wlfy-badge-container">
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/hitagi_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/85536651">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/hitagi_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/hanekawa_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/25870267">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/hanekawa_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/shinobu-donut_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/85179218">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/shinobu-donut_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/shinobu-white_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/85121458">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/shinobu-white_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/shinobu-pink_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/85261279">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/shinobu-pink_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/kiss-shot_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/85358198">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/monogatari/kiss-shot_fixed.png"/>
			</a>
		</div>


	<h3>no game no life</h3>
		<div class="wlfy-badge-container">
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/no-game-no-life/shiro-card_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/44357548">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/no-game-no-life/shiro-card_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/no-game-no-life/shiro-sitting_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/44428222">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/no-game-no-life/shiro-sitting_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/no-game-no-life/shiro-falling_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/users/660788">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/no-game-no-life/shiro-falling_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/no-game-no-life/schwi_blue-purple.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/64758453">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/no-game-no-life/schwi_blue-purple.png"/>
			</a>
		</div>

	<h3>rent-a-girlfriend</h3>
		<div class="wlfy-badge-container">
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kanojo-okarishimasu/chizuru-kimono_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/84781466">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kanojo-okarishimasu/chizuru-kimono_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kanojo-okarishimasu/chizuru-table_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kanojo-okarishimasu/chizuru-table_fixed.png">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kanojo-okarishimasu/chizuru-table_fixed.png"/>
			</a>
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kanojo-okarishimasu/chizuru-manga-jii_black.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="From the manga.">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/kanojo-okarishimasu/chizuru-manga-jii_black.png"/>
			</a>
		</div>

	<h3>steins;gate</h3>
		<div class="wlfy-badge-container">
			<a href="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/steins-gate/kurisu_fixed.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/52357492">
				<img class="wlfy-badge" src="https://gitlab.com/wolfiy/wolfiy.gitlab.io/-/raw/master/assets/wlfy-badges/waifus/steins-gate/kurisu_fixed.png"/>
			</a>
		</div>


<h2>milestones</h2>
	<h3>anime</h3>
		<div class="wlfy-badge-container">
			<a href="https://i.imgur.com/QEoc0Cm.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/45837098">
				<img class="wlfy-badge" src="https://i.imgur.com/QEoc0Cm.png"/>
			</a>
			<a href="https://i.imgur.com/YjsTELW.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/62303322">
				<img class="wlfy-badge" src="https://i.imgur.com/YjsTELW.png"/>
			</a>
			<a href="https://i.imgur.com/MFJJUmI.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://rezero.fandom.com/wiki/Re:Zero_-INFINITY-">
				<img class="wlfy-badge" src="https://i.imgur.com/MFJJUmI.png"/>
			</a>
			<a href="https://i.imgur.com/lL2Om21.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.zerochan.net/2061652">
				<img class="wlfy-badge" src="https://i.imgur.com/lL2Om21.png"/>
			</a>
			<a href="https://i.imgur.com/0ZO9HyZ.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/artworks/73334264">
				<img class="wlfy-badge" src="https://i.imgur.com/0ZO9HyZ.png"/>
			</a>
			<a href="https://i.imgur.com/Mfuebpg.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="https://www.pixiv.net/en/users/3167436">
				<img class="wlfy-badge" src="https://i.imgur.com/Mfuebpg.png"/>
			</a>
		</div>

	<h3>manga</h3>
		<div class="wlfy-badge-container">
			<a href="https://i.imgur.com/r1o3sxl.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="From the Fairy Tail manga.">
				<img class="wlfy-badge" src="https://i.imgur.com/r1o3sxl.png"/>
			</a>
			<a href="https://i.imgur.com/jB1DMIB.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="From the Akame ga Kill manga.">
				<img class="wlfy-badge" src="https://i.imgur.com/jB1DMIB.png"/>
			</a>
			<a href="https://i.imgur.com/XRRyk7o.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="From the Blood Lad manga.">
				<img class="wlfy-badge" src="https://i.imgur.com/XRRyk7o.png"/>
			</a>
			<a href="https://i.imgur.com/5YYp5TW.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="From the Fullmetal Alchemist manga.">
				<img class="wlfy-badge" src="https://i.imgur.com/5YYp5TW.png"/>
			</a>
			<a href="https://i.imgur.com/evmiYWI.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="From the Naruto manga.">
				<img class="wlfy-badge" src="https://i.imgur.com/evmiYWI.png"/>
			</a>
			<a href="https://i.imgur.com/tSoC2nN.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="From the Berserk manga.">
				<img class="wlfy-badge" src="https://i.imgur.com/tSoC2nN.png"/>
			</a>
		</div>

<h2>visual novels</h2>
	<h2>fault series</h2>
		<div class="wlfy-badge-container">
			<a href="https://i.imgur.com/9fQetau.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="From official art.">
				<img class="wlfy-badge" src="https://i.imgur.com/9fQetau.png"/>
			</a>
			<a href="https://i.imgur.com/YfjTcgd.png" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="From official art.">
				<img class="wlfy-badge" src="https://i.imgur.com/YfjTcgd.png"/>
			</a>
		</div>

<!-- 
<a href="LINK" data-elementor-open-lightbox="yes" data-elementor-lightbox-title="SAUCE">
	<img class="wlfy-badge" src="LINK"/>
</a>
-->
