.wlfy-badge {
    width: 175px;
    height: auto;
    padding: 0 5px 0 5px;
}

h2, h3, a, img, .elementor-text-editor, .elementor-clearfix {
    text-align: center;
}

h2 {
    padding-top: 10px;
}

.wlfy-badge-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
